<head>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<footer>
    <section>
        <div class="container-footer">
            <div class="box-footer">
                <h2>ABRIME</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ipsam nulla eveniet quaerat eligendi? Animi quos illum officiis cum aliquid.</p>
            </div>
            <div class="footer-social">
                <nav>
                    <ul>
                        <li><a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa-brands fa-square-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa-brands fa-telegram"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <section>
        <div class="container-create">
            <div class="box-direito">
                <div class="box-create">
                    <h3>Criado por <a href="#" target="_blank">Vittor</a></h3>
                </div>
                <div class="social-create">
                    <nav>
                        <ul>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-square-instagram"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-telegram"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="direitos">
                <span>Todos os direitos reservados &copy; | 2020 - 2025</span>
            </div>
        </div>
    </section>
</footer>