<head>
    <link rel="stylesheet" href="/css/header.css">
</head>
<header>
    <div class="container-menu">
        <div class="box-logo">
            <a href="/"><h1>ABRIME</h1></a>
        </div>
        <div class="box-menu">
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/">Loja</a></li>
                    <li><a href="/">Sobre</a></li>
                    <li><a href="/">Contato</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>