<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remover o dado</title>
</head>
<body>
    <form action="/delete" method="post">
        <input type="number" name="id" id="" placeholder="Id">
        <input type="submit" value="Enviar">
    </form>
    <button><a href="/">Voltar ao Home</a></button>
</body>
</html>